<div id="umap-content-id"></div>
<script>
    var umap_content_id = document.getElementById('umap-content-id');
    fetch(
        'https://framagit.org/api/v4/projects/68895/repository/files/stats%2Ehtml/raw?ref=master&private_token=jbeBmojxmwjsvjsLNxvD'
    ).then(function(response) {
        response.text().then(data=>{
            umap_content_id.innerHTML = data;
        })
    });
</script>
