
        <div>
            <p>
                <label>Nombre d'utilisateurs de Primtux (établissements principalement) :</label>
                <strong>187</strong>
            </p>
            <p>
                <label>Nombre de personnes qui peuvent aider à l'utilisation : </label>
                <strong>4</strong>
            </p>
            <p>
                <label>Nombre de personnes qui peuvent aider à l'utilisation et à l'installation :</label>
                <strong>50</strong>
            </p>
            <table border="1">
                <thead>
                    <th>
                        Date
                    </th>
                    <th>
                        Nombre d'utilisateurs de Primtux (établissements principalement)
                    </th>
                    <th>
                        Nombre de personnes qui peuvent aider à l'utilisation
                    </th>
                    <th>
                        Nombre de personnes qui peuvent aider à l'utilisation et à l'installation
                    </th>
                </thead>
                <tbody>
                    <tr><td>2025-01-14-23</td><td>186</td><td>4</td><td>50</td></tr><tr><td>2024-12-08-14</td><td>186</td><td>4</td><td>49</td></tr><tr><td>2024-10-27-10</td><td>186</td><td>4</td><td>48</td></tr><tr><td>2024-07-20-15</td><td>177</td><td>4</td><td>45</td></tr><tr><td>2024-06-25-12</td><td>177</td><td>4</td><td>43</td></tr><tr><td>2024-05-05-12</td><td>177</td><td>4</td><td>41</td></tr><tr><td>2024-02-03-15</td><td>185</td><td>4</td><td>39</td></tr><tr><td>2024-01-07-14</td><td>183</td><td>4</td><td>39</td></tr><tr><td>2023-05-01-22</td><td>180</td><td>4</td><td>39</td></tr><tr><td>2023-02-19-19</td><td>179</td><td>4</td><td>38</td></tr><tr><td>2023-02-08-23</td><td>180</td><td>4</td><td>38</td></tr><tr><td>2022-12-30-12</td><td>179</td><td>4</td><td>38</td></tr><tr><td>2022-10-02-22</td><td>178</td><td>4</td><td>38</td></tr><tr><td>2022-07-30-16</td><td>176</td><td>4</td><td>37</td></tr><tr><td>2022-04-16-15</td><td>176</td><td>4</td><td>36</td></tr><tr><td>2022-01-30-17</td><td>175</td><td>4</td><td>36</td></tr><tr><td>2022-01-30-11</td><td>174</td><td>4</td><td>36</td></tr><tr><td>2021-12-18-01</td><td>174</td><td>4</td><td>36</td></tr><tr><td>2021-11-29-14</td><td>173</td><td>4</td><td>36</td></tr><tr><td>2021-11-28-12</td><td>173</td><td>4</td><td>36</td></tr><tr><td>2021-11-27-12</td><td>173</td><td>4</td><td>36</td></tr><tr><td>2021-11-07-13</td><td>171</td><td>4</td><td>36</td></tr><tr><td>2021-10-28-15</td><td>170</td><td>4</td><td>36</td></tr><tr><td>2021-09-06-10</td><td>169</td><td>4</td><td>36</td></tr><tr><td>2021-07-24-15</td><td>169</td><td>4</td><td>37</td></tr><tr><td>2021-03-22-16</td><td>167</td><td>4</td><td>35</td></tr><tr><td>2021-03-03-12</td><td>165</td><td>4</td><td>35</td></tr><tr><td>2021-02-09-10</td><td>166</td><td>4</td><td>34</td></tr><tr><td>2021-02-06-10</td><td>166</td><td>4</td><td>34</td></tr><tr><td>2020-11-23-18</td><td>165</td><td>4</td><td>34</td></tr><tr><td>2020-11-17-19</td><td>156</td><td>4</td><td>33</td></tr>
                </tbody>
            </table>
        </div>
    